<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2a371">  <td>19/02/16 12:10:58</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:bl.framework.testcases.LearnAtributes@286778]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>19/02/16 12:10:50</td>   <td>-8763</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:bl.framework.testcases.LearnAtributes@286778]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>19/02/16 12:10:49</td>   <td>-8950</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:bl.framework.testcases.LearnAtributes@286778]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>19/02/16 12:10:58</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:bl.framework.testcases.LearnAtributes@286778]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/16 12:10:50</td>   <td>-8747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LearnAtributes.login()[pri:0, instance:bl.framework.testcases.LearnAtributes@286778]">login</td> 
  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/16 12:10:49</td>   <td>-8778</td> <td>&nbsp;</td><td title="&gt;&gt;LearnAtributes.setData()[pri:0, instance:bl.framework.testcases.LearnAtributes@286778]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
</table>
